<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinothk.view.image9.demo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".style5.Image9ImgStyle5DemoMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".style3.Image9ImgStyle3DemoMainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->


<!--                <activity android:name=".style2.Image9ImgDemoMainActivity">-->
<!--                    <intent-filter>-->
<!--                        <action android:name="android.intent.action.MAIN" />-->

<!--                        <category android:name="android.intent.category.LAUNCHER" />-->
<!--                    </intent-filter>-->
<!--                </activity>-->

<!--                <activity android:name=".style1.Image9DemoMainActivity">-->
<!--                    <intent-filter>-->
<!--                        <action android:name="android.intent.action.MAIN" />-->

<!--                        <category android:name="android.intent.category.LAUNCHER" />-->
<!--                    </intent-filter>-->
<!--                </activity>-->
        <activity android:name=".style1.DemoListActivity" />
        <activity android:name=".style1.DemoDragActivity" />
    </application>

</manifest>